// 色管理用の変数
$text-color: #333333;
$bg-color: #f9f8f6;
$bg-color-sub: #d4cebe;
$primary-color: #ca7f13;
$accent-color: #54372d;
$accent-color-sub: #949e33;
$shadow-color: rgba(0, 0, 0, 0.16);
$text-shadow-color: rgba(0, 0, 0, 0.3);

// コンテンツ幅管理用の変数
$content-width-s:   579px;
$content-width-m:   960px;
$content-width-l:  1200px;
$content-width-xl: 1440px;// default

// z-index管理用の変数
$z-index-back: -1;
$z-index-default: 1;
$z-index-header: 100;
$z-index-menu: 150;
$z-index-modal: 200;