
// 色管理用の変数
$blackColor: #555555;
$blackColorPure: #000;
$whiteColor: #F9F9F9;
$whiteColor02: #FFF;
$primaryColor: #93C572;
$accentColor: #F7B560;
$shadowColor: rgba(0, 0, 0, 0.16);
$textShadowColor: rgba(0, 0, 0, 0.3);

// コンテンツ幅管理用の変数
$contentWidthSm: 800px;
$contentWidth: 960px;
$contentWidthLg: 1088px;

// z-index管理用の変数
$zIndexBack: -1;
$zIndexDefault: 1;
$zIndexHeader: 100;
$zIndexMenu: 150;
$zIndexModal: 200;
