@use "../config/mixin" as *;
@use "../config/variable" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    scroll-padding-top: 160px;
  

}

body {
    color: $text-color;
    background: $bg-color;
    font-family: '游ゴシック', 'Yu Gothic', 'Hiragino Sans', sans-serif;
    line-height: 2;
    letter-spacing: 0.1em;
    font-size: 1.8rem;
}
